<%unless comments.empty?%>
<div class='comment'>
  <% comments.includes(:author).each do |comment| %>
  <div>
  Username: <%= comment.author.name%>
  Comment: <%= comment.text%>
  </div>
<% end %>
</div>
<%end%>